html,
body {
  font-family: Manrope, sans-serif;
  color: #1e1b1b;
}
h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 131%;
  letter-spacing: -0.03em;
}
h2 {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  letter-spacing: -0.03em;
}
h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}
h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 45px;
  height: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.overlay--show {
  visibility: visible;
  opacity: 1;
}
.burger {
  display: none;
}
.burger--follow {
  height: 90px;
  width: 100%;
  box-shadow: 0px 20px 70px rgba(109, 108, 115, 0.12);
  background-color: #ffffff;
  transition: all 0.3s;
}
.burger--open span {
  transform: scale(0);
  transition: all 0.3s;
}
.burger--open:before {
  position: fixed;
  transform: rotate(45deg);
}
.burger--open:after {
  position: fixed;
  transform: rotate(-45deg);
}
.main {
}
.main__offer {
  padding: 128px 0;
}
.main__process-section {
  padding: 134px 0;
}
.main__cta {
}
.main__experience {
  padding: 48px 0;
}
.main__brands {
  padding-top: 128px;
  padding-bottom: 82px;
}
.main__blog {
  padding: 136px 0;
}
.main__testimonials {
  padding: 128px 0;
}
.main__questions {
  padding: 128px 0;
}
.main__commun {
  padding-top: 121px;
  padding-bottom: 178px;
}
.main__map {
}
.logo {
  transition: all 0.6s;
}
.logo:hover {
  fill: #ff6433;
  transition: all 0.3s;
}
.button {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  background-color: #ff6433;
  padding: 16px 40px;
  border-radius: 12px;
  transition: 0.3s;
}
.button:hover {
  transform: scale(1.05);
}
.button--color-black {
  background-color: #1e1b1b;
}
/* +++++++++++++++++++++++++++++++++++++++++++ */

/* =============== HEADER =============== */
/* =============== HEADER-TOP =============== */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header__top {
  padding: 17px 0;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.header__nav-wrapper {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-list::after {
  content: "";
  display: flex;
  opacity: 0.36;
  height: 42px;
  width: 2px;
  background-color: #939191;
  margin: 0px 32px;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}
.header__nav-link {
  white-space: nowrap;
  transition: 0.6s;
}
.header__nav-link:hover {
  color: #ff6433;
  transition: 0.3s;
}
.header__assistance {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
}
.header__assistance svg {
  margin-right: 14px;
  border-radius: 50%;
  transition: 0.6s;
}
.header__assistance:hover svg {
  box-shadow: 0 0 0 10px rgba(96, 195, 160, 0.199);
  transform: scale(1.05);
  transition: 0.3s;
}
.header__assist-text {
  line-height: 24px;
  font-weight: 500;
  opacity: 0.7;
}
.header__assist-tel {
  font-size: 18px;
  line-height: 32px;
}
/* =============== /HEADER-TOP =============== */

/* =============== HEADER-BODY =============== */
.header__body {
  flex-grow: 1;
}
.header__body-inner {
  display: flex;
  height: 100%;
}
.header__body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__body-content {
  max-width: 580px;
  margin-right: 60px;
}
.header__title {
  margin-bottom: 32px;
}
.header__content-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.header__content-btn {
  margin-right: 33px;
}
.header__content-play-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 16px;
  transition: 0.3s;
}
.header__content-play-btn:hover svg {
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.089);
}
.header__content-play-btn:hover {
  transform: scale(1.05);
}
.header__content-play-btn svg {
  margin-right: 8px;
  border-radius: 50%;
  transition: 0.3s;
}
.header__operating {
  display: flex;
  align-items: center;
}
.header__operating svg {
  margin-right: 13px;
  flex: 0 0 auto;
}
.header__operating-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}
.header__operating-time {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}
.header__img-display-none {
  display: none;
}
.header__body-image {
  position: relative;
  height: 632px;
  width: 605px;
  background-image: url(../images/hero/1.jpg);
  background-size: cover;
}
.header__service {
  position: absolute;
  top: 81px;
  left: -30px;
  display: inline-flex;
  align-items: center;
  border-radius: 59px;
  background: #ffffff;
  /* border: 12px solid rgba(225, 225, 225, 0.637); */
  box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-right: 40px;
}
.header__service svg {
  margin: 14px;
}
.header__rating {
  position: absolute;
  bottom: 70px;
  right: -20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 59px;
  background: #ffffff;
  box-shadow: 0 0 0 12px rgba(225, 225, 225, 0.43);
  padding: 24px 32px 24px 38px;
}
.header__rating-box {
  margin-right: 15px;
}
.header__rating-value {
  display: inline-flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
}
.header__rating-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__rateYo {
  display: inline-flex;
}
.header__rateYo:hover {
  cursor: pointer;
}
/* .header__rating-star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.header__rating-star svg {
  fill: #ffb648;
}
.header__rating-star:last-child {
  margin-right: 0;
} */
/* =============== /HEADER-BODY =============== */
/* =============== /HEADER =============== */

/* =============== MAIN =============== */
/* =============== OFFER =============== */
.offer__inner {
  display: flex;
  flex-direction: column;
}
.section--background-color-light-grey {
  background-color: #f2f2f2;
  width: 100%;
}
.offer__heading {
  margin-bottom: 64px;
}
.offer__heading h2 {
  max-width: 858px;
}
.offer__heading-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}
.heading--text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.offer__grid {
  margin-bottom: 32px;
}
.offer__grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 232px);
  gap: 5px;
}
.offer__grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s;
}
.offer__grid-card:hover {
  color: #ffffff;
  background-color: #ff6433;
  cursor: pointer;
}
.offer__grid-card:hover svg {
  fill: #ffffff;
}
.offer__grid-card svg {
  margin-bottom: 16px;
  transition: all 0.3s;
}
.offer__grid-card-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.offer__button-learn {
  display: flex;
  justify-content: flex-end;
}
.offer__btn-box {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.offer__btn-box svg {
  transition: all 0.3s;
}
.offer__btn-box:hover {
  color: #ff6433;
  transform: scale(1.05);
}
.offer__btn-box:hover svg {
  fill: #ff6433;
}
.offer__button-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-right: 16px;
}
/* =============== /OFFER =============== */

/* =============== PROCESS-SECTION =============== */
.process-section__inner {
  display: flex;
}
.process__left {
  max-width: 524px;
  margin-right: 131px;
}
.process__left-title {
  margin-bottom: 16px;
}
.process__left-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgb(30, 27, 27, 0.6);
  max-width: 437px;
  margin-bottom: 32px;
}
.process__right {
  display: flex;
}
.process__right-step {
  margin-bottom: 16px;
}
.process__right-step:last-child {
  margin-bottom: 0px;
}
.process__right-icons {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.process__step-icon {
  display: flex;
  flex-direction: column;
}
.process__step-icon::after {
  content: "";
  height: 0px;
  width: 71px;
  margin: 54px 0px 54px 1px;
  border-bottom: 2px dashed #ff6433;
  transform: rotate(90deg);
}
.process__step-icon:last-child:after {
  content: none;
}
.process__step-content {
  max-width: 336px;
  padding-top: 13px;
}
.process__step-heading {
  margin-bottom: 8px;
}
.process__step-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: rgb(30, 27, 27, 0.6);
}
/* =============== /PROCESS-SECTION =============== */

/* =============== CTA =============== */
.cta {
  position: relative;
}
.cta__inner {
}
.cta__background {
}
.cta__bg-images {
  display: flex;
  height: 502px;
}
.cta__bg-img-1 {
  display: block;
  width: 50%;
  background: url(../images/cta/1.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}
.cta__bg-img-2 {
  display: block;
  width: 50%;
  background: url(../images/cta/2.jpg) no-repeat;
  background-size: cover;
}
.cta__content {
  position: absolute;
  top: 0;
  background-color: #ff6433;
  max-width: 729px;
  padding: 128px 80px;
}
.cta__heading-title {
  color: #ffffff;
  margin-bottom: 48px;
}
.cta__btn {
}
/* =============== /CTA =============== */

/* =============== EXPERIENCE =============== */
.experience {
}
.experience__inner {
}
.experience__row {
  display: flex;
  justify-content: space-between;
}
.experience__row-item {
}
.experience__item-heading {
  color: #661ce7;
}
.experience__item-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}
/* =============== /EXPERIENCE =============== */

/* =============== BRANDS =============== */
.brands {
}
.brands__inner {
}
.section--background-color-dark-grey {
  background-color: #e2e6e9;
  width: 100%;
}
.brands__heading {
  margin-bottom: 31px;
}
.brands__heading-title {
}
.brands__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 39px;
}
.brands__grid-item {
}
.brands__grid-link {
  display: block;
}
.brands__grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.65;
  transition: all 0.6s;
}
.brands__grid-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s;
}

/* =============== /BRANDS =============== */

/* =============== BLOG =============== */
.blog__inner {
  display: flex;
  flex-direction: column;
}
.blog__heading {
  margin-bottom: 47px;
}
.blog__filter-box {
  display: flex;
  margin-bottom: 46px;
}
.blog__filter-item {
  margin-right: 30px;
}
.blog__filter-item:last-child {
  margin-right: 0;
}
.blog__filter-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  background-color: transparent;
  transition: all 0.6s;
}
.blog__filter-btn:hover {
  color: #ff6433;
  transition: all 0.3s;
}
.blog__filter-btn--active {
  color: #ff6433;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 64px 32px;
}
.blog__list-link {
  position: relative;
  display: block;
  transition: 0.7s;
}
.blog__list-link::after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: -15px;
  background-color: #ff6433;
  transition: width 0.4s ease-in-out;
}
.blog__list-link:hover,
.blog__list-link:hover::after {
  transform: scale(1.03);
  transition: 0.3s;
  width: 100%;
}
.blog__list-link h3 {
  transition: all 0.6s;
}
.blog__list-link:hover h3 {
  color: #ff6433;
  transition: all 0.3s;
}
.blog__image-box img {
  width: 100%;
  height: 100%;
}
.blog__list-content {
  padding-top: 24px;
}
.blog__list-post-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}
.blog__list-heading {
  margin-bottom: 16px;
}
.blog__list-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
/* =============== /BLOG =============== */

/* =============== TESTIMONIALS =============== */
.testimonials {
}
.testimonials__inner {
}
.testimonials__heading {
  margin-bottom: 76px;
}
.testimonials__heading h2 {
  max-width: 909px;
}
.testimonials__slider-wrapper {
}
.testimonials__slider {
  margin-bottom: 35px;
}
.testimonials__slider .slick-list {
  margin: 0 -15px;
}
.testimonials__slide-inner {
  padding: 0 15px;
}
.testimonials__slide {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid rgba(172, 172, 172, 0.29);
  border-radius: 6px;
  padding: 72px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.testimonials__slide:last-child {
  margin-right: 0;
}
.testimonials__person {
  display: flex;
  margin-bottom: 24px;
}
.testimonials__person-image {
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}
.testimonials__person-info {
}
.testimonials__person-name {
}
.testimonials__personi-city {
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}
.testimonials__text {
}
.testimonials__slider-hub {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__slider-arrows-wrapper {
  position: absolute;
  display: flex;
  gap: 55px;
  margin-right: 19px;
  right: 0;
}
.testimonials__slider-arrow {
  position: relative;
  transition: all 0.3s;
  z-index: 5;
}
.testimonials__slider-arrow::before {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}
.testimonials__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1.29);
  background-color: #1e1b1b;
  transition: all 0.3s;
}
.testimonials__slider-arrow svg {
  transition: all 0.6s;
}
.testimonials__slider-arrow:hover svg {
  transform: scale(1.29);
  transition: all 0.3s;
}
.testimonials__slider-arrow path {
  transition: all 0.6s;
}
.testimonials__slider-arrow:hover path {
  fill: #f2f2f2;
  transition: all 0.3s;
}
.testimonials__slider-perv {
}
.testimonials__slider-next {
}
.testimonials__slider-dots {
}
.testimonials__slider-dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__slider-dots li {
  margin-right: 15px;
}
.testimonials__slider-dots li:last-child {
  margin-right: 0;
}
.testimonials__slider-dots button {
  font-size: 0;
  border-color: transparent;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
}
.testimonials__slider-dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #939191;
}
.testimonials__slider-dots .slick-active button::before {
  background-color: #ff6433;
  transition: all 0.3s;
}
/* =============== /TESTIMONIALS =============== */

/* =============== QUESTIONS =============== */
.questions {
}
.questions__inner {
}
.questions__heading {
  margin-bottom: 86px;
}
.questions__heading-title {
}
.questions__accord {
  max-width: 896px;
  margin: 0 auto;
}
.questions__accord-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  background-color: #fff;
}
.questions__accord-link {
  display: block;
  padding: 32px 40px;
}
.questions__accord-link--active {
}
.questions__accord-item:last-child {
  margin-bottom: 0;
}
.questions__accord-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__accord-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.questions__accord-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #ff6433;
  margin-left: 30px;
}
.questions__accord-button::before,
.questions__accord-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #fff;
  border-radius: 2px;
}
.questions__accord-button::after {
  transform: rotate(90deg);
  transition: all 0.3s;
}
.questions__accord-link--active .questions__accord-button::after {
  transform: rotate(0deg);
}
.questions__accord-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  margin-top: 12px;
  margin-right: 114px;
}
/* =============== /QUESTIONS =============== */

/* =============== MAP =============== */
.map {
}

.map__inner {
}
.map__map {
  height: 512px;
  width: 100%;
  margin-bottom: -168px;
}
.map__background {
}
.map__bg-image {
  display: block;
  background: url(../images/footer/1.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 448px;
}
/* =============== /MAP =============== */

/* =============== COMMUNICATION =============== */

.commun {
}
.commun__inner {
}
.commun__heading {
  margin-bottom: 48px;
}
.commun__heading h1 {
  max-width: 505px;
}
.commun__heading-title {
}
.commun__content {
  display: flex;
  justify-content: space-between;
}
.commun__form {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  flex: 1 1 auto;
  margin-right: 32px;
}
.commun__form-input {
  display: block;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 23px 40px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}
.commun__form-input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}
.commun__form-input:nth-child(4) {
  margin-bottom: 0;
}
.commun__form-lable {
  display: flex;
  margin-top: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}
.commun__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 6px;
  margin-right: 15px;
}
.commun__form-default {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.commun__form-default:checked + .commun__form-custom {
  background: url(../images/form/checked.svg) 50% 50% no-repeat, #ff6433;
  border-radius: 2px;
}
.commun__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}
.commun__form-btn {
  max-width: 206px;
  margin-top: 48px;
}
.commun__contacts {
  padding-right: 36px;
}
.commun__contacts-item {
  margin-bottom: 32px;
}
.commun__contacts-item:last-child {
  margin-bottom: 0;
}
.commun__item-top {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 2px;
}
.commun__item-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.commun__item-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  transition: all 0.6s;
}
.commun__item-link:hover {
  color: #ff6433;
  transition: all 0.3s;
}
/* =============== /COMMUNICATION =============== */
/* =============== /MAIN =============== */

/* =============== FOOTER =============== */
.footer {
  color: #ffffff;
}
.footer__top {
  background-color: #222020;
  padding: 128px 0;
}
.footer__top-inner {
  display: flex;
}
.footer__top-left {
  width: 50%;
}
.footer__heading {
  margin-bottom: 64px;
}
.footer__heading h4 {
  max-width: 463px;
}
.footer__heading-title {
}
.footer__socials-list {
  display: flex;
  gap: 24px;
}
.footer__socials-item {
}
.footer__socials-link {
}
.footer__socials-link path {
  transition: all 0.6s;
}
.footer__socials-link:hover path {
  fill: #ff6433;
  transition: all 0.3s;
}
.footer__socials-link svg {
  transition: all 0.6s;
}
.footer__socials-link:hover svg {
  transform: scale(1.2);
  transition: all 0.3s;
}
.footer__top-right {
  width: 50%;
}
.footer__contacts {
  padding-left: 15px;
}
.footer__contacts-item {
}
.footer__item-top {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.6;
  margin-bottom: 8px;
}
.footer__item-link {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  transition: all 0.6s;
}
.footer__item-link:hover {
  color: #ff6433;
  transition: all 0.3s;
}
.footer__item-text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.footer__bottom {
  background-color: #1e1b1b;
  padding: 65px 0;
}
.footer__bottom-inner {
  display: flex;
  align-items: center;
}
.footer__logo {
  margin-right: auto;
}
.footer__logo path {
  transition: all 0.6s;
}
.footer__logo:hover path {
  fill: #ff6433;
  transition: all 0.3s;
}
.footer__nav {
  margin-right: 206px;
}
.footer__nav-list {
  display: flex;
}
.footer__nav-item {
  margin-right: 40px;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  white-space: nowrap;
  transition: 0.6s;
}
.footer__nav-link:hover {
  color: #ff6433;
  transition: 0.3s;
}
.footer__copy {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}
/* =============== /FOOTER =============== */



/* =============== ADAPTIVE =============== */

/* ---------- 1200 ---------- */
@media (max-width: 1200px) {
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 52px;
  }
  .header__body-content {
    max-width: 450px;
  }
  .header__body-image {
    height: 522px;
    width: 500px;
  }

  .header__service {
    top: 45px;
  }
  .header__rating {
    bottom: 30px;
  }
}

/* ---------- 1000 ---------- */
@media (max-width: 1000px) {
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    min-width: 50%;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: all 0.6s;
  }
  .header__top--open {
    transform: translateX(0);
    transition: all 0.3s;
  }
  .header__top-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 70px 0;
  }
  .header__nav {
    align-items: center;
    width: 100%;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .header__nav-list::after {
    display: none;
  }
  .header__nav-item {
    margin-right: 0;
  }
  .header__nav-link {
    display: block;
    padding: 20px;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    height: 90px;
    width: 100%;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.3s;
  }
  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    margin: 5px 0;
    background-color: #1e1b1b;
    transition: all 0.3s;
  }
  .burger::before,
  .burger::after {
    display: block;
    content: "";
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #1e1b1b;
    transition: all 0.3s;
  }
  .header__body-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .header__body-content {
    max-width: 580px;
  }
  .header__body-image {
    display: none;
  }
  .header__img-display-none {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .header__service {
    position: static;
    padding-right: 45px;
  }
  .header__service span {
    margin-left: 25px;
  }
  .header__rating {
    position: static;
  }
}

/* ---------- 850 ---------- */
@media (max-width: 850px) {
  .header__body {
    padding: 120px 0 120px;
  }
  .header__body-content {
    max-width: 430px;
    margin-right: 0;
  }
  .header__img-display-none {
    flex-direction: column;
    max-width: 323px;
    margin-top: 50px;
  }
  .header__service {
    margin-bottom: 60px;
  }
  .header__body-content {
    max-width: 430px;
  }
  .header__img-display-none {
    flex-direction: column;
    max-width: 323px;
  }
  .header__service {
    margin-bottom: 50px;
  }
}

/* ---------- 540 ---------- */
@media (max-width: 540px) {
  .header {
    height: 100%;
  }
  .header__top {
    min-width: 100%;
  }
  .header__top-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 40px 0;
  }
  .header__nav-link {
    padding: 15px;
  }
  .burger {
    height: 60px;
    padding: 15px 15px;
  }
  .burger--follow {
    height: 60px;
  }
  .header__body {
    padding: 120px 0 120px;
  }
  .container {
    padding: 0 15px;
  }
  h1 {
    font-size: 46px;
  }
}

/* ---------- 420 ---------- */
@media (max-width: 420px) {
  h1 {
    font-size: 40px;
  }
  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
  .header__body {
    padding: 90px 0 90px;
  }
  .header__body-content h1 {
    max-width: 290px;
  }
  .header__content-buttons {
    margin-bottom: 25px;
  }
  .header__content-buttons {
    flex-direction: column;
  }
  .header__content-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__service {
    padding-right: 20px;
  }
  .header__service span {
    margin-left: 0;
  }
  .header__rating {
    justify-content: center;
  }
}
/* =============== /ADAPTIVE =============== */
